{%extends 'base.html'%}
{%block title%}<title>Ventas de Billetes de Viaje</title>{%endblock%}
{%block content%}
	<section id="content" class="container">
		<div class="hero-unit"><h1>Venta de Billetes para viajes</h1></div>
     	</hr>
		<div class="row pricing">
        	{% if categoria|length_is:"0" %}
           		<div class="alert alert-success">Por el momento no hay viajes disponibles, Intentelo mas tarde.</div>
           	{% else %}
           		<div class="plan span12"><p class="title">Escoja la categoria que mas se acomode a su bolsillo.</p></div>
           		
				{% for c in categoria %}
					<div class="plan span4">
						<h3 class="title">{{ c.nombre }}</h3>
						<div class="well">
							<ul>
								<li> Ida y Vuelta</li>
								<li> Incluye refrigerio</li>
							</ul>
							<p>{{ c.descripcion }}</p>
							<hr />
							<p class="ac"><a class="button green" href="/categoria/{{ c.codigo }}">Seleccionar Categoria</a></p>
						</div>
					</div>
        		{% endfor %}
    		{% endif %}
		</div>
	</section>
{%endblock%}