{%extends 'base.html'%}
{%block title%}<title>Bus: {{bus.placa}}</title>  {%endblock%}
{%block content%}
	<section id="content" class="container">
    	<div class="hero-unit"><h1>{{ bus.placa }}</h1></div>
	    <hr/>
		<article class="post image-post">
            <p class="ac"><a href="../{{ bus.foto }}" class=""><img src="../{{ bus.foto }}" alt="" width="600" height="400"/></a></p>
        </hr>
        	<div class="span12">
            	<h2 class="entry-title">Detalles del Vehiculo:</h2>
            	<table class="stacked">
                	<thead>
                    	<tr>
                            <th>Placa</th>
                            <th>Marca</th>
                            <th>Velocidad</th>
                            <th>Peso</th>
                            <th>Consumo</th>
                            <th>Precio</th>
                        </tr>
                	</thead>
                	<tbody>
                    	<tr>
                            <td>{{bus.placa}}</td>
                            <td>{{bus.marca}}</td>
                            <td>{{bus.velocidad_max}} km/h</td>
                            <td>{{bus.peso}} kg</td>
                            <td>{{bus.consumo}}</td>
                            <td>{{bus.precio}}</td>
                        </tr>
                	</tbody>
           		</table>
           		<hr />
		   		</a>
           		<hr />
               	<h2 class="entry-title">Historial de problemas Mecánicos:</h2>
                {% if fallosMecanicos|length_is:"0" %}
                    <p>El Vehiculo no Registra Fallos Mecánicos</p>
                {% else %}
                	<table class="stacked">
                    	<thead>
                        	<tr>
                                <th>Fecha</th>
                                <th>Descripcion problema</th>
                                <th>Costo</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for fallo in fallosMecanicos %}
                                <tr>
                                    <td>{{ fallo.fecha_reparacion }}</td>
                                    <td>{{ fallo.descripcion_fallo| safe }}</td>
                                    <td>{{ fallo.costo_reparacion }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
			        </table>
                {% endif %}
            	<hr />
            	<h2 class="entry-title">Historial de revision :</h2></a>
            	{% if revisiones|length_is:'0' %}
                	<p>El Vehículo no Registra revisiones Recientes</p>
            	{% else %}
                	<table class="stacked">
                    	<thead>
                        	<tr>
	                            <th>Codígo de Revision</th>
	                            <th>Descripcón de la Revision</th>
	                            <th>Fecha de Revisión</th>
                        	</tr>
                    	</thead>
                    	<tbody>
	                        {% for r in revisiones %}
	                            <tr>
	                            <td>{{ r.codigo_revision }}</td>
	                            <td>{{ r.descripcion_revision|safe }}</td>
	                            <td>{{ r.fecha_revision }}</td>
	                        </tr>
	                        {% endfor %}
                    	</tbody>
			    	</table>
            	{% endif %}
	    	</div>
        <div class="clr"></div>
    	</article>
	</section>
{%endblock%}