{%extends 'base.html'%}
{%block title %}<title>Lista de Buses</title>{%endblock%}
{%block content%}
	<section id="content" class="container">

	    <div class="hero-unit">
			<p>Nuestros Autobuses</p>
			<hr />
		</div>
		<div id="portfolio">
    		{% if buses|length_is:"0" %}
           		<div class="alert alert-success">
				Por el momento no hay autobuses registramos en nuestro sistema.</div>
           	{% else %}
				{% for b in buses %}		
					<section class="row" id="portfolio-items">
						<article class="span6 project" data-tags="design">
							<div class="thumbnail link">
								<a href="project.html" title=""><img alt="" src= "../{{ b.foto }}" height="256" width="256"></a>
								<div class="project-description">
	                        		<span class="label label-success">Placa :</span>
									<b class="project-name">{{ b.placa }}</b>
	                         		<br>
	                        		<br>
	                        		<span class="label label-success">Marca :</span>
									<b class="project-name">{{ b.marca }}</b>
								</div>
	                    		<p class="ac"><a class="button green" href="/placa/{{ b.placa }}">Ver mas</a></p>
							</div>
						</article>
					</section>
	        	{% endfor %}
    		{% endif %}
		</div>
	</section>
{%endblock%}