{%extends 'base.html'%}
{%block title%}<title>Viaje: </title>{%endblock%}
{%block content%}
	<section id="content" class="container">
		<hr />
		<article class="post image-post">
	        </hr>
            <div class="span12">
				<h2 class="entry-title">Viajes displonibles :</h2>
				</a>
                {% if viaje|length_is:'0'%}
                    <div class="alert alert-success">No hay viajes disponibles para esta categoria.</div>
                {% else %}
					<table class="stacked">
						<thead>
							<tr>
								<th>Codigo</th>
		                        <th>Origen - Destino</th>
		                        <th>Tipo </th>
							    <th>Bus</th>
		                        <th>Precio base</th>
		                        <th>Precio extra</th>
		                        <th>Precio total</th>
		                        <th>Comprar</th>
							</tr>
						</thead>
						<tbody>
							{% for v in viaje %}
			                   	<tr>
									<td>{{ v.codigo }}</td>
			                        <td>{{ v.origen }} - {{ v.destino }}</td>
									<td>{{ v.tipo }}</td>
			                        <td>{{ v.bus_asignado }}</td>
			                        <td>{{ v.precio_base }}</td>
			                        <td>{{ v.precio_total }}</td>
			                        <td>{{ v.precio_total|add:v.precio_base }}</td>
			                        <td><input type="checkbox"></td>
								</tr>
		                   {% endfor %}
		                </tbody>
		            </table>
		            <hr />
                {% endif %}
			</div>
			<div class="clr"></div>
		</article>
	</section>
{%endblock%}