{%extends 'base.html'%}
{%block title%}<title>:: {{ cond.nombres }} {{ cond.apellidos }} ::</title>{%endblock%}
{%block content%}
	<section id="content" class="container">
		<div class="hero-unit"><h1>{{ cond.nombres }}  {{ cond.apellidos }}</h1></div>
		<hr />
		<article class="post image-post">
	        <p class="ac"><a href="../{{ cond.foto }}" class=""><img src="../{{ cond.foto }}" alt="" width="400" height="400"/></a></p>
            </hr>
            <div class="span12">
                <h2 class="entry-title">Datos del Conductor :</h2></a>
                <table class="stacked">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Autobus</th>
                            <th>Salario Base</th>
                            <th>Horas de Trabajo por Día</th>
                            <th>Horas de trabajo por Semana:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ cond.descripcion|safe }} </td>
                            <td>{{ cond.autobus_placa}}</td>
                            <td>$ {{ cond.sueldo }} </td>
                            <td>{{ cond.limite_hora_dia }}</td>
                            <td>{{ cond.limite_hora_semana }}</td>
                        </tr>
                    </tbody>
                </table>
               	<hr />
                <h2 class="entry-title">Registro de Horas de Entrada y Salida :</h2></a>
                {% if registro_entrada_salida|length_is:'0'%}
                    <p>El Conductor no registra horas de entrada y salida</p>
                {% else %}
                    <table class="stacked">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Hora de entrada</th>
                                <th>Hora de salida</th>
                                <th>Horas laboradas</th>
                                <th>Horas Extras</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for rea in registro_entrada_salida %}
	                            <tr>
	                                <td>{{ rea.codigo }}</td>
	                                <td>{{rea.fecha_entrada}} {{"-"}} {{ rea.hora_entrada }}</td>
	                                <td>{{rea.fecha_salida}} {{"-"}} {{ rea.hora_salida }}</td>
	                                <td>{{ rea.horas_trabajadas  }}</td>
	                                <td>{{ rea.horas_extras }}</td>
	                            </tr>
                         	{% endfor %}
                        </tbody>
                    </table>
                    <hr />
                    <h3 class="entry-title">Sueldo Total: $ {{sueldo_total}}</h3>
                {% endif %}
                <hr />
                <h2 class="entry-title">Historial de Inasistencias :</h2></a>
                {% if historial|length_is:'0' %}
                    <p>El Conductor No Registra ausencias en el Trabajo</p>
                {% else %}
                    <table class="stacked">
					    <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Justificacón</th>
                            </tr>
				        </thead>
				        <tbody>
                            {% for h in historial %}
                                <tr>
						        <td>{{ h.codigo_ausencia}}</td>
						        <td>{{ h.fecha_ausencia }}</td>
                                <td>{{ h.justificacion|safe }}</td>
					        </tr>
                            {% endfor %}
				        </tbody>
			        </table>
                {% endif %}
			</div>
			<div class="clr"></div>
		</article>
	</section>
{%endblock%}