{%extends 'base.html'%}
{%block title%}<title>Conductores</title>{%endblock%}
{%block content%}
	<section id="content" class="container">
		<div class="hero-unit"><p>Conductores</p>
			<hr/>
		</div>
		<section id="team-members">
	        {% if cond|length_is:"0" %}
           		<div class="alert alert-success">Por el momento no hay conductores registramos en nuestro sistema.</div>
           	{% else %}
				{% for c in cond %}
	            	<article class="member">
	           			<span class="label label-success">Nombres:</span>
						<h3 class="member-name">{{ c.nombres }}</h3>
	            		<span class="label label-success">Apellidos:</span>
	            		<h3 class="member-name">{{ c.apellidos }}</h3>
	            		<span class="label label-success">Descripcion:</span>
	            		<p class="member-bio">{{ c.descripcion|safe }}</p>
						<a class="button green" href="/id/{{ c.identificacion }}">Ver mas</a>
						<div class="member-avatar"><img src="../{{ c.foto }}" alt=""></div>
					</article>
	             	<hr />
				{% endfor %}
 			{% endif %}
		</section>
	</section>
{%endblock%}