{%extends 'base.html' %}
{%block title%} <title>Registrar Usuario</title> {%endblock%}
{%block content%}
	
    {% if form.errors %}
       <p>{{ form.errors }}</p>
    {% endif %}

<div class="lead-container">
<div class="container">
	    <form method="post" action="" role="form">
	        {% csrf_token %}
	            <tr>
	                <td>{{ form.username.label_tag }}</td>
	                <td>{{ form.username }}</td>
	            </tr>
	            <tr>
	                <td>{{ form.password.label_tag }}</td>
	                <td>{{ form.password }}</td>
	            </tr>

	            <tr>
	                <td>{{ form.email.label_tag }}</td>
	                <td>{{ form.email }}</td>
	            </tr>

	            <tr>
	                <td>{{ form.first_name.label_tag }}</td>
	                <td>{{ form.first_name }}</td>
	            </tr>

	            <tr>
	                <td>{{ form.last_name.label_tag }}</td>
	                <td>{{ form.last_name }}</td>
	            </tr>

	        </table>
	        <br>
	        <input type="submit" value="Resgistrase"/>
	    </form>
	</div>
</div>
{%endblock%}